.card {
    color: white;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    filter: brightness(100%);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
    &:hover {
        filter: brightness(130%);
        text-shadow: 0.3rem 0.4rem 0.5rem black;
        transform-origin: bottom;
        transition: all 250ms ease-in-out;
    }
    img {
        box-shadow: inset 0.5rem 2rem 1rem black;
    }
    h3, h4 {
        margin: 0;
        position: absolute;
        bottom: 9%;
        margin-left: 5%;
    }
    h3 {
        font-size: 2.4rem;
        max-width: 30rem;
        margin-bottom: 1.5rem;
    }
    h4 {
        font-size: 1.3rem;
        font-family: 'LibreBaskerville-Regular', sans-serif;
        opacity: 75%;
        font-weight: 300;
    }
}